<h1>Vote#index</h1>
<br>
<br>
<br>


<p>This will automatically direct users to current week</p>
<br>

<table border="1">
	<!-- HEADERS -->
	<tr>
		<th>Week</th>
		<th>Options</th>
	</tr>

	<!-- ROWS :: WEEKS -->
	<% Week.order("week_number ASC").each do |week| %>
		<tr>
			<td><%= week.week_number %></td>
			<td><%= link_to 'Go to this week', 
					:controller => 'vote', 
					:action => 'week', 
					:id => week.week_number 
				%></td>
		</tr>
	<% end %>
</table>


